* {
  box-sizing: border-box; /*takes size till to border */
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2ddf5c;
  padding: 8px 10px;
  z-index: 1;
}

/* direct child of main-header */

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none; /* removes underline */
  font-weight: bold;
  font-size: 22px;
  height: 22px;
  display: inline-block;
}

.main-header__brand img {
  height: 100%; /* % work inside a block element*/
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}
.main-nav__items {
  margin: 0px;
  padding: 0px;
  list-style: none; /*  removes bullet point */
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

/* sudo class*/

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
/* grouped in above line */
/* .main-nav__item a:active {
    color: white;
  } */

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none; /* overides border-bottom ;*/
}

.main-footer {
  background: black;
  margin-top: 48px;
  padding: 32px;
}

.main-footer__links {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* adding hover and active effect on button */

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}
